html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

body {
    /* min-height: 100vh;
    height: 100%; */
    overflow-x: hidden !important;
    min-width: 320px;
    font-style: normal;
    line-height: normal;
}
.content{
	min-height: 100%;
        width: 100%;
	display: flex;
	flex-direction: column;
}
.container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 20px;
}

.main{
    flex:  1 0 auto;
    flex-grow: 1;
    background-color: rgb(17, 17, 17);
}

.footer{
    flex: 0 0 auto;
    background-color: rgb(17, 17, 17);
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden !important;
}


.header__burger{
    display: block;

    position: relative;
    width: 50px;
    height: 20px;
    cursor: pointer;
    transition: all .3s;
    margin: auto 0;
}
.header__burger span{
    position: absolute;
    content: '';
    width: 40px;
    height: 2px;
    left: 0;
    background-color: rgb(255, 255, 255);
    top: 50%;
    transform: translateY(-50%);
}
.header__burger::before{
    position: absolute;
    background-color: rgb(255, 255, 255);
    content: '';
    width: 40px;
    height: 2px;
    right: 0;
    top: 0;
}
.header__burger::after{
    position: absolute;
    background-color: rgb(255, 255, 255);
    content: '';
    width: 40px;
    height: 2px;
    right: 0;
    bottom: 0;
}

.header__burger.header__burger--active span{
    transform: scale(0);
    background-color: rgb(255, 255, 255);
    z-index: 8;
}
.header__burger.header__burger--active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
    background-color: rgb(255, 255, 255);
    z-index: 8;
}
.header__burger.header__burger--active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
    background-color: rgb(255, 255, 255);
    z-index: 8;
} 

/* .burger__content{
    position: absolute;
    top: 0px;
    left: 8000px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;

    transition: all .3s;
    z-index: 100;

    padding: 20px !important;
    border-bottom-right-radius: 16px;
} */

.burger__content {
    /* display: none; */
    width: 0;
    padding: 0;
    overflow-x: hidden !important;
    transition: all .3s;
    transform: translateX(100%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 0;
    background-color: rgb(17, 17, 17);
    box-shadow: 0px 1px 15px 0px #000;
    z-index: 5;
    padding: 0;
    overflow-y: hidden;
}
.burger__logo{
    display: none;
}

.burger__content--active{
    display: block;
    padding: 160px 50px;
    max-width: 475px;
    width: 100%;
    transition: all .3s !important;
    right:  0;
    transform: translateX(0);
    overflow-x: hidden !important;
}

.burger-menu{
    display: none;
}

.burger__content-title {
    margin-bottom: 25px;
    color: rgb(255, 255, 255);
    font-family: Garamond;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
}
.burger__content-text {
    color: rgb(255, 255, 255);
    font-family: "Cormorant Garamond", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
}
.burger__content-tell{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 60px;
}
.burger__content-time{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.burger__content-info{
    margin-bottom: 80px;
}