
 .header {
    /* background-image: url(../images/header-bg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden; */
    background-color: rgb(17, 17, 17);
} 
.header-main{
    background-image: url(../images/header-bg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
}
.header__top {
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(255, 255, 255);

    /* position: relative; */
}
.header__link {
    margin: auto 0;
}
.header__menu {
    display: flex;
}
.header__menu-list {
    display: flex;
}
.header__menu-item {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
}

.header__menu-item{
    margin: auto 80px auto 0;
    /* margin-right: 80px; */
    transition: all .3s;
}
.header__menu-item:nth-child(3){
    margin-right: 120px;
}
.header__menu-item:nth-child(4){
    margin-right: 120px;
}

.header__menu-item--active, .header__menu-item:hover{
    color: rgb(205, 170, 125);
}

.header__title{
    font-family: "EB Garamond", serif;
    font-size: 72px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    line-height: 120%;
    margin: 210px auto 290px;
    text-align: center;
    max-width: 580px;
    width: 100%;
    animation-duration: 2s;
}
.header__down{
    text-align: center;
    position: relative;
    color: rgb(255, 255, 255);
    font-family: "EB Garamond", serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
    padding-left: 40px;
    margin: auto 0;
    position: absolute;
    left: 50%;
    transition: all .3s;
    transform: translateX(-50%);
}
.header__content{
    padding-bottom: 100px;
}
.header__down::before{
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 30px;
    background-image: url(../images/icons/click-down.svg);
}

.servise {
    padding-top: 120px;
    margin-bottom: 168px;
}

.servise__icon {
    margin: 0 auto 60px;
}
.servise__text {
    margin-bottom: 95px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.servise__text p {
    color: rgb(255, 255, 255);
    font-family: "Cormorant Garamond", serif;
    font-size: 27px;
    font-weight: 700;
    line-height: 130%;
}
.servise__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 150px;
    grid-gap: 60px 24px;
}
.servise__item {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.servise__item-name {
    color: rgb(255, 255, 255);
    font-family: "EB Garamond", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 120%;
}
.brands {
    display: flex;
    justify-content: space-evenly;
}
.brands__item {
    max-width: 306px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.gallery {
    margin-bottom: 100px;
}

.gallery__title {
    margin-bottom: 80px;
    color: rgb(255, 255, 255);
    font-family: "EB Garamond", serif;
    font-size: 48px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    line-height: 120%;
}
.gallery__list {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.gallery__list-item-button{
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-family: "Cormorant Garamond", serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 130%;
    transition: all .3s;
    border: none;
}
.gallery__list-item-button--active, .gallery__list-item:hover{
color: rgb(205, 170, 125);
}
.gallery__inner {
    display: flex;
    margin-top: 60px;
    flex-wrap: wrap;
    gap: 24px;
}
.gallery__item {
    max-width: 416px;
    min-height: 416px;
    width: 100%;
    height: 100%;
}


.footer {
}

.footer__inner {
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    /* border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255); */
    position: relative;
}
.footer__inner::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    opacity: 0.5;
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 0;
}
.footer__inner::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    opacity: 0.5;
    background-color: rgb(255, 255, 255);
    bottom: 0;
    left: 0;
}

.footer__column {
    display: flex;
    flex-direction: column;
}
.footer__column-title {
    color: rgb(255, 255, 255);
    font-family: "EB Garamond", serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 25px;
}
.footer__column-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer__column-content  {
    color: rgb(255, 255, 255);
    font-family: "Cormorant Garamond", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
}
.footer__copy {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: "Cormorant Garamond", serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0%;
    padding: 30px 0;
    text-align: center;
}






.masters {
    padding: 80px 0 100px;
}
.masters__title {
    margin-bottom: 80px;
    color: rgb(255, 255, 255);
    font-family: "EB Garamond", serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
}
.masters__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px 20px;
}
.masters__item {
    display: flex;
    flex-direction: column;
}
.masters__item-image {
}
.masters__item-name {
    padding: 30px 0 10px;
    color: rgb(255, 255, 255);
    font-family: "Cormorant Garamond", serif;
    font-size: 27px;
    font-weight: 700;
    line-height: 130%;
}
.masters__item-work {
    color: rgb(255, 255, 255);
    font-family: "Cormorant Garamond", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
}

.price {
    margin-bottom: 100px;
}

.price__title {
    color: rgb(255, 255, 255);
    font-family: "EB Garamond", serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 80px;
}
.price__inner {
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.price__item {
    display: flex;
    justify-content: space-between;
}
.price__item-image {
}
.price__item-content {
    padding: 32px 0;
    max-width: 530px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}
.price__item-content-item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    position: relative;
}
.price__item-content-item::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 0;
    opacity: 0.5;
    left: 0;
    background-color: rgb(255, 255, 255);
} 

.price__item-content-item-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.price__item-content-item-text h6{
    color: rgb(255, 255, 255);
    font-family: "Cormorant Garamond", serif;
    font-size: 27px;
    font-weight: 700;
    line-height: 130%;
}
.price__item-content-item-text p{
    color: rgb(255, 255, 255);
    font-family: "Cormorant Garamond", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
}
.price__item-content-item-price {
    color: rgb(255, 255, 255);
    font-family: "EB Garamond", serif;
    font-size: 27px;
    font-weight: 700;
    line-height: 130%;
}



.reviews {
    margin-bottom: 100px;
}
.reviews__title {
    color: rgb(255, 255, 255);
    font-family: "EB Garamond", serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 80px;
    text-align: center;
}
.reviews__item {
    max-width: 800px;
    margin: 0 auto;
}
.reviews__item-wrapper {
    display: flex;
   gap: 30px;
   padding: 0 50px;
}
.reviews__item-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    width: 100%;
}

.reviews__item-ava img{
    border-radius: 50%;
    max-width: 150px !important;
    width: 100%;
    height: 150px;
    margin: 0 auto;
}
.reviews__item-name {
    color: rgb(255, 255, 255);
    font-family: "EB Garamond", serif;
    font-size: 27px;
    font-weight: 700;
    line-height: 130%;
    text-align: center;
}
.reviews__item-content {
    color: rgb(255, 255, 255);
    font-family: "EB Garamond", serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    /* max-width: 500px;
    width: 100%; */
    background-color: #2a1241;
    padding: 20px;
    border-radius: 24px;
}
.reviews__inner .slick-slide .reviews__item-wrapper{
    opacity: 0.6;
}
.reviews__inner .slick-active .reviews__item-wrapper{
    opacity: 1 !important;
}